@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');


section#buttons-section{
    height:80px;
    margin-top:7em;
    margin-bottom:5em;
}


section#buttons-section .cont{
    width:100%;
    height:100%;
    margin:0 auto;
    /* Display */
    display: flex;
    justify-content:space-between;
    align-items: center;
}



section#buttons-section .cont a{
    text-decoration: none;
}


section#buttons-section .cont button{
    padding:1.4em 4em;
    /* border:none; */
    border-radius: 10px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    border: none;
    text-align: center;
    color: #333333;
    width: 185px;
    cursor: pointer;
}


button.pg-prv{
    background-color: transparent;
    border: 3px solid #828282 !important;
    color:var(--pri-text-color) !important;
    display: flex;
    justify-content:center;
    align-items: center;
}




section#buttons-section .cont button:disabled{
    opacity:0.5;
}




button.pg-nxt{
    background-color: var(--main-color);
    color:white !important;
    border:3px solid var(--main-color) !important;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}






@media screen and (max-width: 1400px) {  
    section#buttons-section .cont{
        width: var(--cont-size);
        margin: 0 auto;
        width: 100%;
        margin-bottom: 0;
    }
}




@media screen and (max-width: 1200px) {  
    section#buttons-section .cont{
        width: var(--cont-size);
        margin: 0 auto;
        width: 100%;
        margin-bottom: 0;
    }
}


@media screen and (max-width: 900px) {  
    section#buttons-section .cont{
        width: var(--cont-size);
        margin: 0 auto;
        width: 100%;
        margin-bottom: 0;
        left:-10px;
    }
}


@media screen and (max-width: 700px) {  
    section#buttons-section .cont{
        width: var(--cont-size);
        margin: 0 auto;
        width: 100%;
        left:0px;
        margin-bottom: 0;
    }

    section#buttons-section .cont button{
        padding:1.1em 2em;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {  
    section#buttons-section .cont{
        width: var(--cont-size);
        margin: 0 auto;
        width: 450px;
        margin-bottom: 0;
        left:-5px;
    }
}




@media (max-width: 480px){
    section#buttons-section .cont{
        width: var(--cont-size);
        margin: 0 auto;
        width: 330px;
        margin-bottom: 0;
        left:-5px;
    }
}
