

.house-card{
    border-radius: var(--btn-brd-rd);
    width: 300px;
    height: 390px;
    background-color: white;
    box-shadow: 0px 0px 10.9464px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}


.house-card .house-img{
    overflow: hidden;
    max-height: 204px;
    height:50%;
    display: flex;
    justify-content: center;
}

.house-card .house-img > a{
    width: 100%;
    background-color: lightgray;
    display: flex;
}




.house-card .house-img img{
    width: 100%;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

span.icon-svd-heart{
    width:30px;
    height: 30px;
    background-color: #FFFFFF;
    border:1px solid lightgray;
    border-radius:3px;
    /* Position */
    position: absolute;
    margin-left:230px;
    margin-top:20px;
    /* Display */
    display:flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
}


span.icon-svd-heart svg{
    transform:scale(1.5);
}


span.icon-svd-heart path{
    fill: rgba(0, 0, 0, 0.5);
}


/* -------------------- */


.house-card .hs-inf-sec{
    height: 50%;
    /* border: 1px solid red; */
    display: flex;
    justify-content:center;
    align-items:center;
}

.house-card .hs-inf-sec > .cont{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 85%;
    height: 75%;
}



/* style the location info section */


.house-card .hs-inf-sec .cont > .location-info{
    /* border: 1px solid red; */
    display:flex;
    padding:.5em 0;
    padding-top: 0;
    padding-bottom: 0;
}


.house-card .hs-inf-sec .cont > .location-info h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #828282;
    margin-left: 15px;

}




/* style the post title section and price */


.house-card .hs-inf-sec .cont > .pub-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #828282;
}


.house-card .hs-inf-sec .cont > .house-price{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
}






/* style the icon info section */
.house-card .hs-inf-sec > .cont .extra-info{
    display: flex;
    justify-content: space-between;
}

.house-card .hs-inf-sec > .cont .extra-info div {
    background-color: #F2F2F2;
    border-radius: 5px;
    width: 60px;
    padding: .5em 0;
    display: flex;
    align-items: center;
    justify-content:center;
}

.house-card .hs-inf-sec > .cont .extra-info div p {
    font-family: var(--pri-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--pri-text-color);
    margin: .2em;
}

.house-card .hs-inf-sec > .cont .extra-info div img {
    width: 17px;
    margin-right: .2em;
}


.house-card .hs-inf-sec > .cont .extra-info .meter {
    width: 70px;
}

.house-card .hs-inf-sec > .cont .extra-info .meter p{
    font-size: 11px;
}

.house-card .hs-inf-sec > .cont .extra-info .meter img{
    width: 14px;
}






/* Media Queries */

@media screen and (max-width: 1400px) {  
}

@media screen and (max-width: 900px) {  
}

@media screen and (max-width: 700px) {  
}


@media screen and (max-width: 700px) {  
}


@media (max-width: 480px){
}



span.icon-svd-heart svg{
    transform:scale(1.5);
}


span.icon-svd-heart path{
    fill: rgba(0, 0, 0, 0.5);
}



/*  */



.dir-btns{
    position: absolute;
    width: 270px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 3.2em;
    margin-left: 0.8em;
}



.fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 12px;
}



.dis{
    opacity: 0.5;
}


.house-img .left-icon , .house-img .right-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 1000;
    background-color: #F8F8F8;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.184));
    display: flex;
    justify-content:center;
    align-items : center;
    /*  */
    cursor: pointer;
}