@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');


body{
    background: #F8F8F8;
}




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d1d1d1;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 2000;
    width: 100%;
    backdrop-filter: blur(10px);
}

header .container{
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
    /* Display */
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* border: 1px solid red; */
}



button#btn-add-item{
    width: 141px;
    height: 50px;
    left: 1092.59px;
    top: 73px;
    background: #4A3AFF;
    border-radius: 5px;
    border:none;
    color: white;
    /* Font */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #F2F2F2;
    cursor: pointer;
}


button#btn-add-item-sec{
    width: 141px;
    height: 55px;
    left: 1092.59px;
    top: 73px;
    background: transparent;
    border: 2px solid #4A3AFF;
    border-radius: 5px;
    color: #4A3AFF;
    /* Font */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    cursor: pointer;
}


button#btn-add-item-pri{
    width: 141px;
    height: 55px;
    left: 1092.59px;
    top: 73px;
    background: #4A3AFF;
    border: none;
    border-radius: 5px;
    color: #F2F2F2;
    /* Font */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-left:1em;
    cursor: pointer;
}


button#btn-add-item-pri  > a{
    text-decoration: none;
}


#logo{
    width: 120px;
    display: flex;
    align-items: center;
}

#logo img{
    width: 35px;
}



#logo h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 77px;
    color: #111111;
    margin-left: .5em;
}




nav li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #828282;
    margin-right: 1.8em;
}


nav .navLinks{
    display: flex;
    align-items: center;
    /* width: 750px; */
    display: flex;
    justify-content:space-between;
}


.offic-links li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #828282;
    margin-right: 1.8em;
}


.offic-links li a{
    color: #828282;
    text-decoration: none;
}



.offic-links li:last-child{
    margin-right: 0em;
}




.offic-links , nav .navLinks .sec-links{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}


nav{
    /* border:1px solid red; */
    display: flex;
    justify-content:space-between;
    min-width: 550px;
    width: 65%;
}



nav .navLinks .sec-links{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    width: 300px;
    display: flex;
    justify-content:space-between;
}




.dropDown{
    background: #FFFFFF;
    box-shadow: 0px 0px 43.9464px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 174px;
    height: 187px;
    /* Position */
    position:absolute;
    margin-top: 250px;
    /* Display */
    display: flex;
    justify-content:center;
    align-items: center;
    /* remove it */
}

.dropDown .cont{
    /* border: 1px solid red; */
    width: 75%;
    height: 79%;
    margin: 0 auto;
    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}


.dropDown .cont li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    width: 100%;
    margin: .2em 0;
}


.dropDown .cont li a{
    color: #333333;
}


span.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    font-size: 35px;
    /* display */
    display: none;
}


#profile-link{
    display: flex;
    align-items: center;
}


div.prf-img-cont{
    width: 40px;
    border-radius: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content:center;
    overflow: hidden;
    background:lightgray;
    border: 1px solid dimgrey;
}


div.prf-img-cont img{
    width: 100%;
}


#profile-link p{
    margin-left:7px;    
    margin-right:15px; 
    font-size: 14px; 
    cursor: pointer;
}







@media (max-width:1200px){
    nav{
        width: 600px;
    }
    .offic-links li{
        font-size: 14px;
    }
    nav li{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #828282;
        margin-right: 1.8em;
    }
    nav .navLinks .sec-links{
        /* border: 1px solid red; */
        width: 260px;
    }
    nav .navLinks .sec-links{
        /* border: 1px solid red; */
        width: 235px;
    }
    #profile-link{
        margin-right: 0;
    }
    button#btn-add-item {
        width: 116px;
    }

    button#btn-add-item-sec{
        width: 116px;
    }

    
    button#btn-add-item-pri{
        width: 116px;
    }


}




@media (max-width:1100px){
    nav{
        width: 500px;
        /* border: 1px solid red; */
    }
}



@media (min-width:950px){
    #closingMenu{
        opacity:0;
        display:none !important;
    }
}




@media (max-width:950px){
    nav{
        min-width: 220px;
        /* border: 1px solid red; */
    }


    .dropDown .cont{
        /* border: 1px solid red; */
        width: 75%;
        height: 95%;
        margin: 0 auto;
        /* Display */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
    }


    span.material-symbols-outlined {
        display: inline;
    }
    #closingMenu{
        position: absolute;
        right: 0;
        right: 20px;
        margin-top: 0em;
        font-size: 45px;
        display:none;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: 1px solid red; */
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: white;
        /* remove it */
        display: none;
    }
    .offic-links{
        display: flex;
        flex-direction: column;
    }
    .offic-links li{
        margin-right:0;
        text-align: center;
        margin-bottom: 1em;
        font-size: 15px;
    }
    nav .navLinks{
        display:flex;
        flex-direction: column;
        margin-top: 1.8em;
    }
    nav .navLinks button#btn-add-item{
        margin-top: 1em;
        font-size: 17px;
        width: 180px;
        height: 55px;
    }
    button#btn-add-item-sec{
        width: 140px;
    }
    button#btn-add-item-pri{
        width: 140px;
        margin-left:0;
        margin-top:.8em;
        font-size: 17px;
    }

    #logo img{
        width: 28px;
    }
    #logo h1{
        font-size: 20px;
    }


    /*  */

    nav .navLinks #profile-link{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .dropDown{
        background: transparent;
        box-shadow: none;
        border-radius: 8px;
        width: 300px;
        height: 187px;
        position: relative;
        margin-top: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropDown .cont li{
        display:flex;
        justify-content:center;
    }


    .dropDown .cont li a{
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #828282;
    }
}



/* Nav Bar Progress Bar */

header .progress{
    /* border: 1px solid red; */
    height: 3px;
    background:rgb(193 207 212);
    margin-top: 5px;
}


header .progress .progress-bar{
    height: 4px;
    width: 0%;
    background:#4A3AFF;
    transition: all 0.2s ease 0s;
}