body::-webkit-scrollbar{
    width: 16px;
}
body::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #606060;
}
body::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: hsl(0,0%,67%);
}




section#profile{
    /* border: 2px solid red; */
    position: relative;
    top: 210px;
}


section#profile .container{
    /* border: 1px solid green; */
    width: max-content;
    margin: 0 auto;
}





section#profile .container .profile-nav button{
    width: 250px;
    height: 55px;
    border: none;
    outline: none;
    background: transparent;
    /* Font */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #BDBDBD;
    border-bottom: 4px solid #F1F1F1;
    cursor: pointer;
}


section#profile .container .profile-nav button:nth-child(3){
    color: #4A3AFF;
    border-bottom: 4px solid #4A3AFF;
}

@media (max-width:850px){
    section#profile{
        /* border: 2px solid red; */
        position: relative;
        top: 180px;
    }

    section#profile .container .profile-nav button{
        width: 200px;
        height: 55px;
    }
}




@media (max-width:650px){
    section#profile{
        /* border: 2px solid red; */
        position: relative;
        top: 180px;
    }

    section#profile .container .profile-nav button{
        width: 150px;
        height: 55px;
    }
}



@media (max-width:500px){
    section#profile{
        /* border: 2px solid red; */
        position: relative;
        top: 180px;
    }


    section#profile .container .profile-nav button{
        width: 140px;
        height: 55px;
    }
}



@media (max-width:460px){
    section#profile .container {
        /* border: 1px solid green; */
        width: max-content;
        margin: 0 auto;
        width: 360px;
    }

    div.profile-nav{
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
    }

    section#profile .container .profile-nav button{
        width: 100%;
        background-color: #e8e8e96e;
        border: none;
        border-top: 1px solid #4a3aff26;
    }
    
    section#profile .container .profile-nav button#account{
        border: none;
    }
}




section#profile .container .profile-nav button.active{
    border-bottom: 3px solid #4A3AFF;
    color: #4A3AFF;
    /* border-top: 1px solid #4a3aff26; */
    background-color: #4a3aff26;
}