

section#hero-mst-ldh{
    margin-top: 115px;
}


section#hero-mst-ldh .container{
    width: var(--cont-size);
    margin: 0 auto;
}




section#hero-mst-ldh{
    margin-top: 115px;
}


section#hero-mst-ldh .container{
    width: var(--cont-size);
    margin: 0 auto;
}



section#hero-mst-ldh .container .heading h2{
    font-family: var(--pri-font);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
    margin-bottom: .4em;
}

section#hero-mst-ldh .container .heading p{
    font-family: var(--pri-font);
    font-family: var(--pri-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #828282;
}

section#hero-mst-ldh .container .heading {
    margin-bottom: 2em;
}



section#hero-mst-ldh .container .house-cards-cont{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}



span.icon-svd-heart{
    width:30px;
    height: 30px;
    background-color: #FFFFFF;
    border:1px solid lightgray;
    border-radius:3px;
    /* Position */
    position: absolute;
    margin-left:230px;
    margin-top:20px;
    /* Display */
    display:flex;
    justify-content:center;
    align-items:center;
}


span.icon-svd-heart svg{
    transform:scale(1.5);
}


span.icon-svd-heart path{
    fill: rgba(0, 0, 0, 0.5);
}





/*-------- Media Queries ---------*/


@media screen and (max-width: 1400px) {  
    section#hero-mst-ldh .container{
        width: var(--cont-size);
        margin: 0 auto;
        width: 1150px;
        margin-bottom: 0;
        /* border: 1px solid orange; */
    }
    section#hero-mst-ldh .container .heading h2{
        font-size: 21px;
        margin-bottom: .1em;
    }
    section#hero-mst-ldh .container .heading p{
        font-family: var(--pri-font);
        font-family: var(--pri-font);
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #828282;
    }
    section#hero-mst-ldh .container .house-cards-cont{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
    }
}





@media screen and (max-width: 1200px) {  
    section#hero-mst-ldh .container{
        width: var(--cont-size);
        margin: 0 auto;
        width: 830px;
        margin-bottom: 0;
        border: none;
    }
}







@media screen and (max-width: 900px) {  
    section#hero-mst-ldh .container{
        width: var(--cont-size);
        margin: 0 auto;
        width: 700px;
        margin-bottom: 0;
        border: none;
    }
}








@media screen and (max-width: 700px) {  
    section#hero-mst-ldh .container{
        width: var(--cont-size);
        margin: 0 auto;
        width: 525px;
        margin-bottom: 0;
        /* border: 1px solid blue; */
    }
    section#hero-mst-ldh .container .house-cards-cont{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }

    section#hero-mst-ldh .container .heading{
        text-align:center;
    }
    section#hero-mst-ldh .container .house-cards-cont{
        flex-direction: column;
        align-items : center;
    }


    span.icon-svd-heart{
        width:27px;
        height: 27px;
        background-color: #FFFFFF;
        border:1px solid lightgray;
        border-radius:3px;
        /* Position */
        position: absolute;
        margin-left:164px;
        margin-top:20px;
        /* Display */
        display:flex;
        justify-content:center;
        align-items:center;
    }

    span.icon-svd-heart svg{
        transform:scale(1.3);
    }
}





@media screen and (max-width: 600px) {  
    section#hero-mst-ldh .container{
        width: var(--cont-size);
        margin: 0 auto;
        width: 460px;
        margin-bottom: 0;
        /* border: 1px solid rgb(243, 151, 166); */
    }
    span.icon-svd-heart{
        width:25px;
        height: 25px;
        background-color: #FFFFFF;
        border:1px solid lightgray;
        border-radius:3px;
        /* Position */
        position: absolute;
        margin-left:157px;
        margin-top:18px;
        /* Display */
        display:flex;
        justify-content:center;
        align-items:center;
    }

    span.icon-svd-heart svg{
        transform:scale(1.3);
    }
}






@media (max-width: 480px){
    section#hero-mst-ldh .container{
        width: var(--cont-size);
        width: 330px;
        margin-bottom: 0;
        margin: 0 auto;
    }
    section#hero-mst-ldh .container .heading{
        text-align:center;
    }
    section#hero-mst-ldh .container .house-cards-cont{
        flex-direction: column;
        align-items : center;
    }
}







