{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dari</title>
        <link rel="icon" href="/media/logo.png" type="image/icon type">
        <!--  -->
        <link rel="stylesheet" href="{% static 'css/root.css' %}">
        <script src="https://unpkg.com/vue@3"></script>
        <link rel="stylesheet" href="{% static 'css/createPostPage/createPostPage.css' %}">
        <!-- Compoenents CSS -->
        <link rel="stylesheet" href="{% static 'css/createPostPage/firstStep.css' %}">
        <link rel="stylesheet" href="{% static 'css/createPostPage/secondStep.css' %}">
        <link rel="stylesheet" href="{% static 'css/createPostPage/thirdStep.css' %}">
        <link rel="stylesheet" href="{% static 'css/createPostPage/fourStep.css' %}">
        <link rel="stylesheet" href="{% static 'css/createPostPage/buttons.css' %}">
        <link rel="stylesheet" href="{% static 'css/components_style/navBar.css' %}">
        <link rel="stylesheet" href="{% static 'css/components_style/fotter.css' %}">
        <!-- Google Icons Link -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/6fa4ec11e9.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="app">
            <navbar-sec background="rgb(243 243 243)" progress_bar="false"></navbar-sec>
            <section id="creationPost">
                <div class="container">
                <div class="heading-section">
                    <div class="title">
                        <h2>Post your home easily</h2>
                        <p>Please fill the form below to post your real estate. Feel free to add as much detail as needed.</p>
                    </div>
                    <div class="progress">
                        <div class="step" id="step1">1</div>
                        <div class="bar" id="bar1"></div>
                        <!---->
                        <div class="step" id="step2">2</div>
                        <div class="bar" id="bar2"></div>
                        <!---->
                        <div class="step" id="step3">3</div>
                        <div class="bar" id="bar3"></div>
                        <!---->
                        <div class="step" id="step4">4</div>
                    </div>
                </div>
                <form class="" method="POST"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="latitude" id="latitude">
                    <input type="hidden" name="longitude" id="longitude">
                    <create-post-first-step @next-move="moveToNextStep" v-show="componentShow.showFirst" @category-choosed="updateHouseCategory"></create-post-first-step>
                    <create-post-second-step @update-title-ad="updateTitle" @next-move="moveToNextStep" @back-move="moveToBackStep" v-show="componentShow.showSecond" :house_cat_choosed="house_cat"></create-post-second-step>
                    <create-post-third-step @next-move="moveToNextStep" ref="formStep3" @back-move="moveToBackStep" v-show="componentShow.showThird"></create-post-third-step>
                    <create-post-fourth-step @back-move="moveToBackStep" v-show="componentShow.showFourth"></create-post-fourth-step>
                </form>
                </div>
            </section>
            <fotter-sec test="250"></fotter-sec>
        </div>    
        <!-- Import Our App -->
        <script src="{% static 'js/createPostPage.js' %}"></script>
        <!-- Import Our Components -->
        <script src="{% static 'components/createPostPage/firstStep.js' %}"></script>
        <script src="{% static 'components/createPostPage/secondStep.js' %}"></script>
        <script src="{% static 'components/createPostPage/thirdStep.js' %}"></script>
        <script src="{% static 'components/createPostPage/fourthStep.js' %}"></script>
        <script src="{% static 'components/reusable_components/navBarComponent.js' %}"></script>
        <script src="{% static 'components/reusable_components/fotter.js' %}"></script>
        <!-- Mount Our App -->
        <script>app.mount("#app")</script>
        <!-- Import Our Animations -->
        <script src="{% static 'animations/navBar.js' %}"></script>
    </body>
</html>