{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dari</title>
        <link rel="icon" href="/media/logo.png" type="image/icon type">
        <!--  -->
        <link rel="stylesheet" href="{% static 'css/root.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="{% static 'css/accountSettings/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/components_style/navigation.css' %}">
        <link rel="stylesheet" href="{% static 'css/accountSettings/message.css' %}">
        <link rel="stylesheet" href="{% static 'css/components_style/fotter.css' %}">

        <link rel="stylesheet" href="{% static 'css/components_style/navBar.css' %}">
        <!-- Google Icons Link -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
        <script src="https://unpkg.com/vue@3"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="app">
            <navbar-sec background="rgb(248 248 248)" progress_bar="true"></navbar-sec>
            <section id="profile">
                <div class="container">
                    <message-request v-if="showMessage" :message="messageValue" :status="messageStatus"></message-request>
                    <navigation-sec active_listing="false" active_saved="false" active_settings="true"></navigation-sec>
                    <div class="edit-info-sec">
                        <div class="buttons-links">
                            <a href="/account/settings/profile/"><button> > Edit Profile Informations </button></a>
                            <a href="/account/settings/password/"><button> > Edit Password </button></a>
                        </div>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <our-form @show-msg="showMessageFunction" :csrf_token_value="csrf_value"></our-form>
                        </form>
                    </div>
                </div>
            </section>
            <fotter-sec test="500"></fotter-sec>
        </div>
        <!-- Import Our App -->
        <script src="{% static 'js/EditProfilePage.js' %}"></script>
        <!-- Import Our Component -->
        <script src="{% static 'components/editProfilePage/editInfoForm.js' %}"></script>
        <!-- Import Our Component NavBar -->
        <script src="{% static 'components/reusable_components/navBarComponent.js' %}"></script>
        <!-- Import Our Component Message -->
        <script src="{% static 'components/reusable_components/messageRequest.js' %}"></script>
        <!-- Import Our Fotter Component -->
        <script src="{% static 'components/reusable_components/fotter.js' %}"></script>
        <!-- Import Our Component -->
        <script src="{% static 'components/reusable_components/navigation.js' %}"></script>
        <!-- Import Our Animations -->
        <script src="{% static 'animations/navBar.js' %}"></script>
        <!-- Mount Our App -->
        <script>app.mount(".app")</script>
    </body>
</html>

